// Variaveis usadas no meu sass 
$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: #FFF;
$tamanho-fonte-padrao: 16px;

$ponto-de-quebra: 980px;

$mq-mobile: '(max-width: 980px)';